<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
 <h1>Cadastrar</h1>
    <form action="/cadastro" method="POST">

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div>
            {{ form.nome.label }} {{ form.nome(size=20) }}
        </div>
        <div>
            {{ form.loa.label }} {{ form.loa }}
        </div>
        <div>
            {{ form.boca.label }} {{ form.boca }}
        </div>
        <div>
            {{ form.dwt.label }} {{ form.dwt }}
        </div>
        <div>
            {{ form.calado_entrada.label }} {{ form.calado_entrada }}
        </div>
        <div>
            {{ form.calado_saida.label }} {{ form.calado_saida }}
        </div>
        <div>
            {{ form.calado_aereo.label }} {{ form.calado_aereo }}
        </div>
        <div>
            {{ form.pontal.label }} {{ form.pontal }}
        </div>
        <div>
            {{ form.tamanho_lanca.label }} {{ form.tamanho_lanca }}
        </div>
        <div>
            {{ form.ano_construcao.label }} {{ form.ano_construcao }}
        </div>
        <div>
            {{ form.tipo_navio.label }} {{ form.tipo_navio }}
        </div>
        <div>
            {{ form.ultimo_porto.label }} {{ form.ultimo_porto }}
        </div>
        <div>
            {{ form.proximo_porto.label }} {{ form.proximo_porto }}
        </div>
        <div>
            {{ form.data_chegada.label }} {{ form.data_chegada }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>